<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <title>Ecom</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            console.log("CREA COOKIE");
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
            var cookieArr = document.cookie.split(";");

            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                if (name === cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            return null;
        }

        var cart = JSON.parse(getCookie('cart'))
        console.log('cart: ', cart)

        if (!cart) {
            cart = {}
            console.log('Cart Created!', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)

    </script>

</head>
<body style="min-width: 350px;">

<!-- NAVBAR -->
<div class="container-fluid navbarStyle">
    <nav class="navbar navbar-expand-lg main-nav px-0" style="position: sticky;">
        <div class="navbar-brand ml-md-4">
            <img src="/static/images/logo.png" style="max-height: 25px; width: auto; object-fit: contain;">
            <span class="ml-2" style="font-size: medium; color: white">Paolo Sbarzagli</span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation" style="color: white; margin-top: -15px;">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse mr-md-4" id="mainMenu">
            <ul class="navbar-nav ml-auto text-uppercase f1">
                <li class="mt-2">
                    <a href="/">Products</a>
                </li>
                <li class="mt-2">
                    <a href="/cart">
                        <img src="/static/images/cart.png" title="Go to the cart"
                             style="max-height: 25px; width: auto; object-fit: cover">
                        <span class="badge badge-light">{{ cartItems }}</span>
                    </a>
                </li>
                <li class="mt-2">
                    {% if user.is_authenticated %}
                        <a type="button" class="btn btn-sm btn-outline-dark" href="{% url 'logout' %}">LOGOUT</a>
                    {% else %}
                        <a type="button" class="btn btn-sm btn-outline-dark" href="{% url 'login' %}">LOGIN</a>
                        <a type="button" class="btn btn-sm btn-outline-dark" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- /.container -->

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container-fluid">
    <br>
    {% block content %}


    {% endblock content %}
</div>


<!-- BOOTSTRAP DEPENDENCIES -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>